.header
 background-color: #131313
 padding: 24px 0px
.menu
 display: flex
 justify-content: space-between
 align-items: center
.logo
 color: #E3B873
 text-transform: uppercase
.nav
 &__item
  text-decoration: none
  color: #fff
  text-transform: uppercase
  margin-right: 40px
.phone
 color: #E3B873
.contacts
 &__phone
  margin-right: 45px